.main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.loginButton {
    display: flex;
    align-items: center;
    width: 240px;
    text-decoration: none;
    background-color: #1DB954;
    color: white;
    border-radius: 32px;
    padding: 16px 32px;
    transition: transform 0.1s;
}

.loginButton:active {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(0.95);
}

.loginButton span {
    margin-left: 16px;
}